<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boiler Plate Blog</title>
</head>
<body>
    <h1>Super Blog</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsam ipsum cumque amet nesciunt voluptas, nemo suscipit rem eligendi accusamus saepe laboriosam reprehenderit incidunt, possimus voluptatum sint asperiores, optio enim.</p>
    <div id="comments"></div>
    <input type="text" placeholder="Commets go here\n\n"></input>
    <button>Submit</button>
</body>
</html>